<div class="margin2em">
  <% @exercise_hypotheses.each do |exercise_hypothesis| %>
      <% if exercise_hypothesis.hypothesis.hypothesis_group_id == group.id %>
          <div class="row">
            <div class="col-md-9">


              <%# edit case hypothesis field for admin user%>


              <input class="btn btn-default btn-hypothesis" type="button" value="<%= exercise_hypothesis.hypothesis.name %>" data-toggle="collapse" data-target="#collapseExerciseHypothesis<%= exercise_hypothesis.hypothesis_id %>" />

              <div class="collapse" id="collapseExerciseHypothesis<%= exercise_hypothesis.hypothesis_id %>">
                <%= form_for(exercise_hypothesis) do |f| %>
                    <%= f.hidden_field :exercise_id, :value => exercise_hypothesis.exercise_id %>
                    <%= f.hidden_field :hypothesis_id, :value => exercise_hypothesis.hypothesis_id %>


                    <%= f.text_area :explanation, placeholder: "Selite", :class => 'width100' %>

                    <%= f.submit :class => 'btn btn-default btn-save width50' %>

                <% end %>

                <%= button_to 'Poista casesta', exercise_hypothesis, method: :delete, :class => 'btn btn-default btn-del width50' %>

              </div>



            </div>
          </div>
      <% end %>
  <% end %>
</div>
