<div class="margin2em">
  <% @exercise.get_unchecked_hypotheses_for(current_user)[group.id].to_a.each do |unchecked_hypothesis| %>
    <div class="row">
      <div class="col-md-9">
        <%= form_for(@new_checked_hypothesis) do |f| %>
          <%= f.hidden_field :exercise_hypothesis_id, :value => unchecked_hypothesis.id %>
          <%= f.hidden_field :user_id, :value => @user.id %>
          <%= f.submit unchecked_hypothesis.hypothesis.name, :class => 'btn btn-default btn-save' %>
        <% end %>
      </div>
    </div>  
  <% end %>
</div>
<%# add checked hypothesis back to case (unchecked state) for normal user %>
<div class="margin2em">
  <% @exercise.get_checked_hypotheses_for(current_user)[group.id].to_a.each do |checked_hypothesis| %>
    <div class="row">
      <div class="col-md-9">
        <%= button_to checked_hypothesis.hypothesis.name, checked_hypothesis, method: :delete, :class => 'btn btn-default btn-checked' %>
      </div>
    </div>
  <% end %>
</div>
