<p id="notice"><%= notice %></p>


<!-- headers -->
<div class="row">
  <div class="col-md-5">
    <h2>Casen <%= @case.name %> työhypoteesit</h2>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
    <h2>Työhypoteesipankki</h2>
  </div>
</div>

<!-- lists of hypotheses -->
<div class="row">
  <div class="col-md-5">

        <% @exercise_hypotheses.each do |exercise_hypothesis| %>
          <div class="row">
            <div class="col-md-9">
              <input class="btn btn-default btn-exercise" type="submit" value="<%= exercise_hypothesis.hypothesis.name %>" data-toggle="collapse" data-target="#collapseExerciseHypothesis<%= exercise_hypothesis.hypothesis_id %>" />

              <div class="collapse" id="collapseExerciseHypothesis<%= exercise_hypothesis.hypothesis_id %>">
                <%= form_for(exercise_hypothesis) do |f| %>
                  <%= f.hidden_field :exercise_id, :value => exercise_hypothesis.exercise_id %>
                  <%= f.hidden_field :hypothesis_id, :value => exercise_hypothesis.hypothesis_id %>
                <div class="field">
                  <%= f.label :explanation %><br>
                  <%= f.text_field :explanation %>
                </div>
                <div class="actions">
                  <%= f.submit %>
                </div>
                <% end %>
                <%= link_to 'Muokkaa', edit_exercise_hypothesis_path(exercise_hypothesis) %>
                <%= link_to 'Poista', exercise_hypothesis, method: :delete %>
              </div>
            </div>
          </div>
        <% end %>

  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">

        <% @rest_hypotheses.each do |hypothesis| %>

          <div class="row">
            <div class="col-md-9">
              <%= form_for(@new_exercise_hypothesis) do |f| %>
                <%= f.hidden_field :exercise_id, :value => @case.id %>
                <%= f.hidden_field :hypothesis_id, :value => hypothesis.id %>
                <%= f.submit hypothesis.name, :class => 'btn btn-default btn-exercise' %>
              <% end %>
            </div>
            <div class="col-md-3">
              <%= button_to 'Poista', hypothesis, method: :delete, :class => 'btn btn-default btn-del-exercise', data: { confirm: 'Oletko varma?' } %>
            </div>
          </div>
        <% end %>

  </div>
</div>


<br />
<br />






<br>

<%= link_to 'Luo uusi työhypoteesi', new_hypothesis_path %>
