<p id="notice"><%= notice %></p>


<!-- headers -->
<div class="row" style = "border: 1px solid green">
  <div class="col-md-5">
    <h2>Casen <%= @case.name %> työhypoteesit id: <%= @case.id %></h2>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
    <h2>Työhypoteesipankki</h2>
  </div>
</div>

<!-- lists of hypotheses -->
<div class="row" style = "border: 1px solid red">
  <div class="col-md-5" style = "border: 1px solid #ff9999">
    <table>
      <tbody>
        <% @exercise_hypotheses.each do |exercise_hypothesis| %>
          <tr>
            <td><input class="btn btn-default btn-exercise" type="submit" value="<%= exercise_hypothesis.hypothesis.name %>" data-toggle="collapse" data-target="#collapseExerciseHypothesis<%= exercise_hypothesis.hypothesis_id %>" />

              <div class="collapse" id="collapseExerciseHypothesis<%= exercise_hypothesis.hypothesis_id %>">
                <%= form_for(exercise_hypothesis) do |f| %>
                  <%= f.hidden_field :exercise_id, :value => exercise_hypothesis.exercise_id %>
                  <%= f.hidden_field :hypothesis_id, :value => exercise_hypothesis.hypothesis_id %>
                <div class="field">
                  <%= f.label :explanation %><br>
                  <%= f.text_field :explanation %>
                </div>
                <div class="actions">
                  <%= f.submit %>
                </div>
                <% end %>
                <%= button_to 'Poista', exercise_hypothesis, :class => 'btn btn-default btn-del-exercise', method: :delete %>
              </div>
            </td>
            
            
            
            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-2" style = "border: 1px solid #ff7777">
  </div>
  <div class="col-md-5" style = "border: 1px solid #ff5555">
    <table>
      <tbody>
        <% @rest_hypotheses.each do |hypothesis| %>
          <tr>
            <td><%= hypothesis.name %></td>
            <td><%= link_to 'Näytä', hypothesis %></td>
            <td><%= link_to 'Muokkaa', edit_hypothesis_path(hypothesis) %></td>
            <td><%= link_to 'Lisää', new_exercise_hypothesis_path() %></td>
            <!-- <td><%= link_to 'Lisää', hypothesis, method: :delete, data: { confirm: 'Oletko varma?' } %></td> -->
            <td>

              <%= form_for(@new_exercise_hypothesis) do |f| %>
                <%= f.hidden_field :exercise_id, :value => @case.id %>
                <%= f.hidden_field :hypothesis_id, :value => hypothesis.id %>
              <div class="field">
                <%= f.label :explanation %><br>
                <%= f.text_field :explanation %>
              </div>
              <div class="actions">
                <%= f.submit "Lisää caseen" %>
              </div>
              <% end %>
              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br />
<br />






<br>

<%= link_to 'Luo uusi työhypoteesi', new_hypothesis_path %>
