<p id="notice"><%= notice %></p>

<h1>Työhypoteesilista</h1>

<table>
  <tbody>
    <% @hypotheses.each do |hypothesis| %>
      <tr>
        <td><%= link_to hypothesis.name, hypothesis %></td>
        <% if current_user_is_admin %>
          <td><%= link_to 'Muokkaa', edit_hypothesis_path(hypothesis) %></td>
          <td><%= link_to 'Poista', hypothesis, method: :delete, data: { confirm: 'Oletko varma?' } %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Luo uusi työhypoteesi', new_hypothesis_path if current_user_is_admin%>
