<% if current_user.try(:admin) %>
  <%= render 'messages/messages' %>
<% end %>

<%# headers %>
<div class="row">
  <div class="col-md-5">
    <% if current_user.try(:admin) %>
      <h2>Casen <%= @exercise.name %> työhypoteesit</h2>
    <% else %>
      <h2>Valitse poissuljettavat työhypoteesit</h2>
    <% end %>
  </div>
  <div class="col-md-2">
    <%# spacer %>
  </div>
  <div class="col-md-5">
    <% if current_user.try(:admin) %>
      <h2>Työhypoteesipankki</h2>
    <% end %>
  </div>
</div>

<%# lists of hypotheses %>
<div class="row">
  <div class="col-md-5">
    <%# hypothesis_groups %>
    <% @hypothesis_groups.each do |group| %>
      <% unless @exercise.get_hypotheses[group.id].nil? %>
        <%= render 'hypotheses/show/hypothesis_group_header', { group:group } %>
        <div class="collapse in" id="collapseHypothesisGroup1<%= group.id%>" >
          <%# hypotheses that belong to current exercise and group%>
          <%= if current_user.try(:admin)
              then render 'hypotheses/edit/edit_hypotheses_of_group', { group: group }
              else render 'hypotheses/show/check_hypotheses_of_group', { group: group }
              end %>
        </div>
        <% end %>
    <% end %>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
    <% if current_user.try(:admin) %>
      <% @hypothesis_groups.each do |group| %>
        <%= render 'hypotheses/edit/hypothesis_group_edit', { group: group }  %>
        <%= render 'hypotheses/edit/hypotheses_of_group', { group: group }  %>
      <% end %>
      <%= render 'hypotheses/edit/new_hypothesis_group'  %>
    <% end %>
  </div>
</div>

<script>
    setAjaxSubmits("#hypothesisTab form", "#hypothesisTab", "post");
    setRemovables();
</script>