
<%# headers %>
<div class="row">
  <div class="col-md-5">
    <h2>Casen <%= @exercise.name %> työhypoteesit</h2>
  </div>
  <div class="col-md-2">
    <%# spacer %>
  </div>
  <div class="col-md-5">
    <% if current_user_is_admin %>
      <h2>Työhypoteesipankki</h2>
    <% end %>
  </div>
</div>

<%# lists of hypotheses %>
<div class="row">
  <div class="col-md-5">
    <%# hypothesis_groups %>
    <% @hypothesis_groups.each do |group| %>
      <% unless @exercise.get_hypotheses[group.id].nil? %>
        <div class="row">
          <div class="col-md-9">
            <input class="btn btn-default btn-hypothesis-group" type="button" value="<%= group.name %>" data-toggle="collapse" data-target="#collapseHypothesisGroup1<%= group.id%>"/>
          </div>
        </div>
        <div class="collapse in" id="collapseHypothesisGroup1<%= group.id%>" >
          <%# hypotheses that belong to current exercise and group%>
          <%= if current_user_is_admin
            then render 'edit_hypotheses_of_group', { group: group }
            else render 'check_hypotheses_of_group', { group: group }
            end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
    <% if current_user_is_admin %>
      <%# hypotheses that belong to current exercise and group%>
      <% @hypothesis_groups.each do |group| %>
        <div class="row">
          <div class="col-md-9">
            <input class="btn btn-default btn-hypothesis-group" type="button" value="<%= group.name %>" data-toggle="collapse" data-target="#collapseHypothesisGroup<%= group.id%>" />
          </div>
          <div class="col-md-3">
            <%= button_to 'Poista', group, method: :delete, :class => 'btn btn-default btn-del', data: { confirm: 'Oletko varma?' } %>
          </div>
        </div>
        <%# adding hypothesis to case and form for new hypothesis %>
        <%= render 'hypothesis_bank', {group: group}  %>
      <% end %>
      <%# new hypothesis_group %>
      <%= render 'new_hypothesis_group'  %>
    <% end %>
  </div>
</div>