
<table class = "width100">
  <colgroup>
    <col style="width:50%" />
    <col style="width:50%" />
  </colgroup>
  <tbody>
  <% subtask.interview.question_groups.distinct.each do |group|%>
      <tr>
        <td class="interview">
          <h4><%= group.title %></h4>
        </td>
      </tr>

      <% group.questions.where(interview: subtask.interview).each do |question| %>
          <tr>
            <td class="interview"><div class="floatLeft" style = "width: 5%;"></div>
              <% if !@current_user.has_asked_question?(question) %>

                  <%= form_tag("/interviews/" + subtask.interview.id.to_s + "/ask_question", method: "post") do %>
                      <%= hidden_field_tag 'question_id', question.id %>
                      <%= hidden_field_tag 'exercise_show_or_task_show', exercise_show_or_task_show %>
                      <%= submit_tag(question.title, :class => "btn btn-default multiline width95 floatRight", :id => "ask_question_" + question.id.to_s) unless @current_user.try(:admin) %>
                  <% end %>

              <% else %>
                  <%# TODO this should be refactored to make sense %>

                  <input class='btn btn-default btn-hypothesis-group multiline width95 floatRight 
                  <%#= "collapse-answer-right" if question.required == "required"%>
                    <% if question.required == "required" %>
                        <%= "collapse-answer-right" %>
                      <% elsif question.required == "wrong" %>
                        <%= "collapse-answer-wrong" %>
                      <% else %>
                        <%= "collapse-answer-allowed" %>
                      <% end %>
                    ' type="button" value="<%= question.title %>" data-toggle="collapse" data-target="#collapseQuestionContent<%= question.id%>" id="asked_question_<%= question.id.to_s %>"/>
                  </td>
                  <td class="interview">
                    <div class='collapse <%= "in" if @last_clicked_question_id == question.id.to_s %> collapse-answer 
                      <%#= "collapse-answer-right" if question.required == "required"%>
                      <% if question.required == "required" %>
                        <%= "collapse-answer-right" %>
                      <% elsif question.required == "wrong" %>
                        <%= "collapse-answer-wrong" %>
                      <% else %>
                        <%= "collapse-answer-allowed" %>
                      <% end %>
                      ' id="collapseQuestionContent<%= question.id%>" >
                      <p><%= question.content.html_safe %></p>
                    </div>
              <%end %>
              </td>
              </tr>
      <% end %>

  <% end %>

  <% subtask.interview.questions.where(question_group:nil).each do |question| %>
      <tr>
        <td class="interview">
          <% if !@current_user.has_asked_question?(question) %>
              <%= form_tag("/interviews/" + subtask.interview.id.to_s + "/ask_question", method: "post") do %>
                  <%= hidden_field_tag 'question_id', question.id %>
                  <%= hidden_field_tag 'exercise_show_or_task_show', exercise_show_or_task_show %>
                  <%= submit_tag(question.title, :class => "btn btn-default multiline width100", :id => "ask_question_" + question.id.to_s) unless @current_user.try(:admin) %>
              <% end %>
          <% else %>
              <input class='btn btn-default btn-hypothesis-group multiline
              <%#= "collapse-answer-right" if question.required == "required" %>
              <% if question.required == "required" %>
                        <%= "collapse-answer-right" %>
                      <% elsif question.required == "wrong" %>
                        <%= "collapse-answer-wrong" %>
                      <% else %>
                        <%= "collapse-answer-allowed" %>
                      <% end %>
              ' type="button" value="<%= question.title %>" data-toggle="collapse" data-target="#collapseQuestionContent<%= question.id%>" id="asked_question_<%= question.id.to_s %>"/>
              </td>
              <td class="interview">
                <div class='collapse <%= "in" if @last_clicked_question_id == question.id.to_s %> collapse-answer 
                  <%#= "collapse-answer-right" if question.required == "required" %>
                  <% if question.required == "required" %>
                        <%= "collapse-answer-right" %>
                      <% elsif question.required == "wrong" %>
                        <%= "collapse-answer-wrong" %>
                      <% else %>
                        <%= "collapse-answer-allowed" %>
                      <% end %>
                  ' id="collapseQuestionContent<%= question.id%>" >

                  <p><%= question.content.html_safe %></p>
                </div>
          <%end %>
          </td>
          </tr>
  <% end %>
  </tbody>
</table>
<br />

<%= form_tag("/interviews/" + subtask.interview.id.to_s + "/check_answers", method: "post") do %>
    <%= submit_tag("Jatka", :class => "btn btn-default btn-save widthAuto") unless @current_user.try(:admin) %>
<% end %>



