<h4>Teht채v채si:</h4>
<p><%= subtask.conclusion.content.html_safe %></p>

<br>

<h4>Diffilistassa j채ljell채:</h4>
<br/>

<% unless current_user.try(:admin) %>
    <% @conclusion_exercise_hypotheses.each do |exhyp| %>

        <div class = "row">

          <% if !current_user.has_checked_hypothesis?(exhyp) %>
              <div class = "col-md-4">
                <%= form_tag("conclusions/" + subtask.conclusion.id.to_s + "/check_answers", method: "post", :id => 'check_exhyp_form') do %>
                    <%= hidden_field_tag :exhyp_id, exhyp.id %>
                    <%= submit_tag(exhyp.name, :class => "btn btn-default multiline") unless current_user.try(:admin) %>
                <% end %>
              </div>

          <% else %>

              <div class = "col-md-4">
                <input id="checked_hypothesis_<%= exhyp.id.to_s %>" class="btn btn-default btn-checked multiline" type="button" value="<%= exhyp.hypothesis.name %>" onclick='showExHypExplanation("#exhyp_explanation_<%= exhyp.id.to_s %>");'></input>
              </div>

              <div class = "col-md-8">
                <% if @last_clicked_conclusion && (@last_clicked_conclusion.id.to_s == exhyp.id.to_s) %>
                    <div class="info-checked-hypothesis removable" id="exhyp_explanation_<%= exhyp.id.to_s %>"><%= exhyp.get_explanation.html_safe %></div>
                <% else %>
                    <div class="info-checked-hypothesis removable" id="exhyp_explanation_<%= exhyp.id.to_s %>" style="display:none;"><%= exhyp.get_explanation.html_safe %></div>
                <% end %>
              </div>

          <% end %>
        </div>
    <%end%>
<%end%>



