    <div class="row">
      <p><%= subtask.conclusion.title %></p>
      <p><%= subtask.conclusion.content %></p>
      <div class="col-md-9">
        <% @exercise_hypotheses.each do |exhyp| %>
        <div class="row">
          <% if !current_user.has_checked_hypothesis?(exhyp) %>
          <div class="col-md-9">
            <%= form_tag("conclusions/" + subtask.conclusion.id.to_s + "/check_answers", method: "post") do %>
            <%= hidden_field_tag :exhyp_id, exhyp.id %>
            <%= submit_tag(exhyp.name, :class => "btn btn-default multiline width95 floatRight") unless current_user_is_admin %>
            <% end %>
          </div>

        </div>
        <% end %>
        <%end%>
      </div>
    </div>


