<% subtask_exhyp = subtask.conclusion.exercise_hypothesis %>

<% if @current_user.try(:admin) %>
    <%= render 'tasks/subtasks/ask_conclusion', { subtask:subtask } %>
<% end %>

<% if !@conclusion_exercise_hypotheses.empty? && !@current_user.try(:admin)%>

    <h4>Poissuljetut diffit:</h4>

    <% @conclusion_exercise_hypotheses.each do |exhyp| %>

        <div class = "row">
          <div class = "col-md-4">
            <input id="checked_hypothesis_<%= exhyp.id.to_s %>"
                   class="btn btn-default
                       <%= exhyp.id ==  subtask_exhyp.id ? "btn-save" : "btn-checked"%>
                       multiline"
                   type="button"
                   value="<%= exhyp.hypothesis.name %>"
                   onclick='showExHypExplanation("#exhyp_explanation_<%= exhyp.id.to_s %><%= exercise_show_or_task_show %>");'></input>
          </div>

          <div class = "col-md-8">

            <div class="info-checked-hypothesis removable"
                 id="exhyp_explanation_<%= exhyp.id.to_s %><%= exercise_show_or_task_show %>"
                 style=<%= (@last_clicked_conclusion && (@last_clicked_conclusion.id == exhyp.id)) ? "" : "display:none;"%>>
              <%= (exhyp.id == subtask_exhyp.id) ? exhyp.get_right_explanation.html_safe : exhyp.get_explanation.html_safe %>
            </div>

          </div>

        </div>

    <%end%>

<% else %>
    <h4>Oikea diagnoosi:</h4>

    <div class = "row">

      <div class = "col-md-4">
        <input id="checked_hypothesis_<%= subtask_exhyp.id.to_s %>"
               class="btn btn-default btn-save multiline"
               type="button"
               value="<%= subtask_exhyp.hypothesis.name %>"
               onclick='showExHypExplanation("#exhyp_explanation_<%= subtask_exhyp.id.to_s %><%= exercise_show_or_task_show %>");'></input>
      </div>
      <div class = "col-md-8">
        <div class="info-checked-hypothesis removable"
             id="exhyp_explanation_<%= subtask_exhyp.id.to_s %><%= exercise_show_or_task_show %>"
             style="display:none;">
          <%= subtask_exhyp.get_right_explanation.html_safe %>
        </div>
      </div>

    </div>

<%end%>
