<div class = "panel panel-default panel-green">
  <div class="row panel-body">
    <div class = "nakki">
      <%= form_for(@new_question) do |f| %>
      <%= f.label :required%><br>
      <div class="col-md-2">
        <%=f.select :required, options_for_select(@requireds.collect { |answer| [t("activerecord.attributes.question.requireds.#{answer[0]}"), answer[0]] }, selected: @new_question.required), {}, {class: "form-control"} %>
      </div>
      <div class="col-md-4">
        <%= f.text_area :title, placeholder: "Kysymys", :class => 'form-control' %>
      </div>
      <div class="col-md-4">
        <%= f.text_area :content, placeholder: "Vastausteksti", :class => 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= image_tag @new_question.image.picture.url(:thumb) unless @new_question.image.nil? %>
        <%=f.select :image_id, options_from_collection_for_select(Image.all, :id, :name, selected: @new_question.image_id), { :prompt => 'Valitse kuva' } %>
      </div>
      <div class="col-md-1">
        <%= f.submit 'Tallenna', :class => 'btn btn-default btn-save' %>
      </div>
      <%= f.hidden_field :interview_id, :value => @interview.id %>
      <% end %>
    </div>
  </div>
</div>