<%= render 'messages/messages' %>

<h1>Muokkaa haastattelua</h1>

<div class = "panel panel-default panel-grey">
  <div class = "panel-heading panel-heading-grey">
    Haastattelun perustiedot
  </div>
  <div class = "panel-body">
    <%= render 'form' %>
  </div>
</div>

<h1>Kysymykset</h1>

<% @interview.questions.each do |question| %>
  <%= render 'edit_question', { question:question } %>
<% end %>
<%= render 'new_question' %>
<h1>Ryhmät</h1>
<div class="row panel-body">
  <%= render 'questions/new_question_group', {interview: @interview} %>
</div>

<script>
setAjaxSubmits("#currentTaskTab form", "#currentTaskTab", "post");
</script>