<h1>Muokkaa haastattelua</h1>

<div class = "panel panel-default panel-grey">
  <div class = "panel-heading panel-heading-grey">
    Haastattelu
  </div>
  <div class = "panel-body">
    <%= render 'form' %>
  </div>
</div>

<h1>Kysymykset</h1>

<% @interview.questions.each do |question| %>
<div class = "panel panel-default panel-grey">
<div class="row panel-body">
  <div class = "nakki">
    <%= form_for(question) do |f| %>
      <div class="col-md-1">
           <p>Pakollinen</p>
        <%= f.check_box :required %>
      </div>
      <div class="col-md-5">
        <%= f.text_area :title, placeholder: "Kysymys", :class => 'form-control' %>

      </div>
      <div class="col-md-5">
        <%= f.text_area :content, placeholder: "Vastausteksti", :class => 'form-control' %>
      </div>
      <div class="col-md-1">
        <%= f.submit :class => 'btn btn-default btn-save' %>
        
      </div>
  
      <%= f.hidden_field :question_id, :value => question.id %>
      <%= f.hidden_field :interview_id, :value => @interview.id%>
      
    <% end %>
    
    <%# Bootsrapin layoutti tekee temppuja, kun rivin leveys yli 12: viimeiset kaksi oudosti p채채llekk채in %>
    <div class="col-md-1">
      <%= button_to 'Poista', question, method: :delete, :class => 'btn btn-default btn-del' %>
    </div>

  </div>
</div>
</div>

<% end %>



<div class = "panel panel-default panel-green">
<div class="row panel-body">
  <div class = "nakki">
   <%= form_for(@new_question) do |f| %>
      <div class="col-md-1">
        <p>Pakollinen</p>
        <%= f.check_box :required, :value => true %>
      </div>
      <div class="col-md-5">
        <%= f.text_area :title, placeholder: "Kysymys", :class => 'form-control' %>
      </div>
      <div class="col-md-5">
        <%= f.text_area :content, placeholder: "Vastausteksti", :class => 'form-control' %>
      </div>
      <div class="col-md-1">
        <%= f.submit 'Tallenna', :class => 'btn btn-default btn-save' %>
      </div>
  
      <%= f.hidden_field :interview_id, :value => @interview.id %>
      
    <% end %> 

  </div>
</div>
</div>

<div class = "panel panel-default panel-green">
  <p>Ryhm채t</p>
<div class="row panel-body">
    <%= render 'questions/new_question_group', {interview: @interview} %>

</div>
</div>