<%= form_for(@task, :html => {:id => "form-save-task-name"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header')%></h2>
      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control'  %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-default btn-save widthAuto' %>
  </div>
<% end %>
