<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Kysymys: <%= subtask.multichoice.question %></h3>
  </div>

  <!-- <div class="panel-body">
    <#%= subtask.multichoice.question %>
  </div> -->

  <div class="panel-body">

    <%= form_tag("/multichoices/" + subtask.multichoice.id.to_s + "/check_answers", method: "post") do %>

        <ul>
          <% subtask.multichoice.options.each do |option| %>

              <li>
                <%= check_box_tag 'checked_options[]', option.id %>
                <%= option.content %>
              </li>

          <% end %>
        </ul>
        <%= submit_tag("Tarkista") %>

    <% end %>

  </div>
</div>