<%= render 'messages/messages' %>

   <br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default panel-grey">
        <div class = "panel-heading panel-heading-grey">
          <div class = "row">
            <div class = "col-md-8">
              <h4>Toimenpide</h4>
            </div>
            <div class = "col-md-2">
              <%= button_to 'Esikatsele', @task, :class => 'btn btn-default width100',:form_class => "form-show-task", :method => :get %>
            </div>
            <div class = "col-md-2">
              <%= button_to 'Poista toimenpide', @task, :class => 'btn btn-default btn-del width100', :form => {id: "form-delete-task"}, :method => :delete, data: { confirm: 'Haluatko varmasti poistaa toimenpiteen ja sen kaikki alakohdat?' } %>
            </div>

          </div>
        </div>
        <div class="panel-body">
          <%= render 'task_name_form' %>
          <br>
          <%= 'Toimenpiteelle ei ole vielä lisätty alakohtia.' if @task.subtasks.empty? %>
          <% @task.subtasks.each do |subtask| %>
            <%= button_to sanitize(subtask.to_s), edit_subtask_path(subtask), :class => 'btn btn-default btn-exercise btn-subtask multiline width100', :form_class => "form-subtask", :method => :get %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default panel-grey">
        <div class = "panel-heading panel-heading-grey">
          Lisää alakohta
        </div>
        <div class="panel-body">
          <%= button_to '+ Teksti', new_task_text_path,  :class => 'btn btn-default btn-exercise btn-subtask', :form_class => "form-subtask", :method => :get  %>
          <%= button_to '+ Monivalinta tai radio button', new_multichoice_path,  :class => 'btn btn-default btn-exercise btn-subtask', :form_class => "form-subtask", :method => :get  %>
          <%= button_to '+ Pohdinta', new_interview_path,  :class => 'btn btn-default btn-exercise btn-subtask', :form_class => "form-subtask", :method => :get  %>
          <%= button_to '+ Päätöstoimenpide', new_conclusion_path,  :class => 'btn btn-default btn-exercise btn-subtask', :form_class => "form-subtask", :method => :get  %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<script>
    setAjaxSubmits("#currentTaskTab #form-update-task", "#currentTaskTab", "post", function(){
        loadView("/tasks", "#taskTab");
        loadView("/hypotheses", "#hypothesisTab");
    });
    setAjaxSubmits("#currentTaskTab #form-delete-task", "#taskTab", "post", function(){
        showTab("#taskTab");
        closeTab("#currentTaskTab");
        loadView("/hypotheses", "#hypothesisTab");
    });
    setAjaxSubmits("#currentTaskTab .form-subtask", "#currentTaskTab", "get");
    setAjaxSubmits("#currentTaskTab .form-show-task", "#currentTaskTab", "get");
</script>
