<%= render 'messages/messages' %>

<div class = "row">
  <div class = "col-md-6">
    <h1>Toimenpiteen muokkaus</h1>
  </div>
  <div class = "col-md-2">
    <%= button_to 'Takaisin', tasks_path, :class => 'btn btn-default btn-exercise floatRight', :method => :get %>
  </div>
  <div class = "col-md-2">
    <%= button_to 'Esikatsele', @task, :class => 'btn btn-default btn-exercise floatRight',:form_class => "form-show-task", :method => :get %>
  </div>
  <div class = "col-md-2">
    <%= button_to 'Poista toimenpide', @task, :class => 'btn btn-default btn-exercise btn-del width100', :form => {id: "form-delete-task"}, :method => :delete, data: { confirm: 'Haluatko varmasti poistaa toimenpiteen ja sen kaikki alakohdat?' } %>
  </div>
</div>

<br>
<br>
<div class="panel panel-default panel-grey">
  <div class = "panel-heading panel-heading-grey">
    Toimenpide
  </div>
  <div class="panel-body">
    <%= render 'task_name_form' %>
    <br>
    <% @task.subtasks.each do |subtask| %>
    <%= button_to sanitize(subtask.to_s), edit_subtask_path(subtask), :class => 'btn btn-default btn-exercise btn-subtask multiline width100', :form_class => "form-subtask", :method => :get %>
  <% end %>
  </div>
</div>

<div class="panel panel-default panel-grey">
  <div class = "panel-heading panel-heading-grey">
    Lisää alakohta
  </div>
  <div class="panel-body">
    <%= button_to '+ Luo uusi tekstimuotoinen alakohta', new_task_text_path,  :class => 'btn btn-default btn-exercise btn-subtask', :form_class => "form-subtask", :method => :get  %>
    <%= button_to '+ Luo uusi monivalinta-alakohta', new_multichoice_path,  :class => 'btn btn-default btn-exercise btn-subtask', :form_class => "form-subtask", :method => :get  %>
    <%= button_to '+ Luo uusi haastattelu', new_interview_path,  :class => 'btn btn-default btn-exercise btn-subtask', :form_class => "form-subtask", :method => :get  %>
    <%= button_to '+ Luo päätöstoimenpide', new_conclusion_path,  :class => 'btn btn-default btn-exercise btn-subtask', :form_class => "form-subtask", :method => :get  %>
  </div>
</div>



<br>

<script>
    setAjaxSubmits("#currentTaskTab #form-update-task", "#currentTaskTab", "post", function(){
        loadView("/tasks", "#taskTab");
        loadView("/hypotheses", "#hypothesisTab");
    });
    setAjaxSubmits("#currentTaskTab #form-delete-task", "#taskTab", "post", function(){
        showTab("#taskTab");
        closeTab("#currentTaskTab");
        loadView("/hypotheses", "#hypothesisTab");
    });
    setAjaxSubmits("#currentTaskTab .form-subtask", "#currentTaskTab", "get");
    setAjaxSubmits("#currentTaskTab .form-show-task", "#currentTaskTab", "get");
</script>
