<h1>Toimenpiteen muokkaus</h1>
<%= link_to 'Esikatsele', @task %> |
<%= link_to 'Takaisin', tasks_path %>

<br>
<br>
<div class="panel panel-default panel-grey">
	<div class = "panel-heading panel-heading-grey">
    Toimenpiteen perustiedot
  </div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>

<h1>Alitoimenpiteet</h1>

<% @task.subtasks.each do |subtask| %>
    <%= button_to subtask, edit_subtask_path(subtask), :class => 'btn btn-default btn-exercise multiline', :method => :get %>
<% end %>

<%= button_to '+ Luo uusi tekstimuotoinen alitoimenpide', new_task_text_path,  :class => 'btn btn-default btn-exercise btn-save', :method => :get  %>
<%= button_to '+ Luo uusi monivalinta-alitoimenpide', new_multichoice_path,  :class => 'btn btn-default btn-exercise btn-save', :method => :get  %>
<%= button_to '+ Luo uusi haastattelu', new_interview_path,  :class => 'btn btn-default btn-exercise btn-save', :method => :get  %>


<br>