<h1>Toimenpiteen muokkaus</h1>

<%= render 'form' %>

<% @task.subtasks.each do |subtask| %>
   <%= link_to 'Näytä joku subtask', edit_subtask_path(subtask) %>
<% end %>

<%= link_to 'Luo úusi tekstimuotoinen alitoimenpide', new_task_text_path %>

<br>
<%= link_to 'Esikatsele', @task %> |
<%= link_to 'Back', tasks_path %>
