<h1>Toimenpiteet</h1>

<%#
    Admin tasks

    TODO REFARTCTOR THIS TO BE NICE AND EASY TO MAINTAINS
%>
  
  <% if current_user_is_admin %>
    <div class = "div-tasks-container-admin">
      <% previous_level = 0 %>
      <% @tasks.each do |task| %>
        <% if !current_user_has_completed_task(task.id) %>
          <div class = "div-task-order-container <% if task.level > previous_level then %> clearLeft <% end %>">
            <div class = "div-task-order-taskbutton">
              <%= button_to task.name, edit_task_path(task), method: :get, :class => 'btn btn-default btn-task-order multiline', :form_class => "height100" %>
            </div>
            <div class = "div-task-order-updown">

              <%= button_to 'tasks/' + task.id.to_s + '/up', method: :post, :class => 'btn btn-default btn-task-up multiline', :form_class => "height50" do %> 
                <span class="glyphicon glyphicon-chevron-up"></span>
              <% end %>

              <%= button_to 'tasks/' + task.id.to_s + '/down', method: :post, :class => 'btn btn-default btn-task-down multiline', :form_class => "height50" do %> 
                <span class="glyphicon glyphicon-chevron-down"></span>
              <% end %>

              <%#= link_to 'Esikatsele', task %>
              <%#= link_to 'Poista', task, method: :delete, data: { confirm: 'Oletko varma?' } %>
              <% previous_level = task.level %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
<%#
    Available tasks

    TODO REFARTCTOR THIS TO BE NICE AND EASY TO MAINTAINS
%>    <div class="panel panel-default">
        <div class="panel-heading panel-heading-tasks">
          <a data-toggle="collapse" href="#collapse-available-tasks">
            <h3>Valitse suoritettava toiminpide</h3>
          </a>
        </div>
        <div id="collapse-available-tasks" class="panel-collapse collapse in">
          <div class="panel-body">
            <table>
              <tbody>
                <% @tasks.each do |task| %>
                  <% if !current_user_has_completed_task(task.id) %>
                    <tr>
                      <td><%= button_to task.name, task, method: :get, :class => 'btn btn-default btn-available-task' %></td>
                    </tr>              
                  <% end %>
                <% end %>
              </tbody>
            </table>    
          </div>
        </div>
      </div>

<%#
  Completed tasks
%>
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-tasks">
          <a data-toggle="collapse" href="#collapse-done-tasks">
            <h3>Tehdyt toimenpiteet</h3>
          </a>
        </div>
        <div id="collapse-done-tasks" class="panel-collapse collapse in">
          <div class="panel-body">
            <table>
              <tbody>
                <% @tasks.each do |task| %>
                  <% if current_user_has_completed_task(task.id) %>
                    <tr>
                      <td><%= button_to task.name, task, method: :get, :class => 'btn btn-default btn-completed-task' %></td>
                    </tr>                    
                  <% end %>
                <% end %>
              </tbody>
            </table>    
          </div>
        </div>
      </div>
  
  <% end %>

<br />

<%= button_to '+ Luo uusi toimenpide', new_task_path, :class => 'btn btn-default btn-save btn-new-task', :method => :get if current_user_is_admin %>
