<%= render 'messages/messages' %>
<br />
<div class = "row">
  <div class = "col-md-8">
    <h1>Toimenpiteet</h1>
  </div>
  <% if current_user.try(:admin) %>
      <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Toimenpiteiden luominen ja järjestely" data-content="Tällä sivulla voit luoda uusia toimenpiteitä ja päätöstoimenpiteen. Kussakin casessa voi olla vain yksi päätöstoimenpide. Toimenpiteiden suoritusjärjestystä voi muokata toimenpiteen vieressä olevilla nuolilla. Samassa numeroidussa ryhmässä olevat toimenpiteet voi suorittaa valinnaisessa järjestyksessä. Ryhmät taas suoritetaan numerojärjestyksessä ykkösestä alkaen.">Ohje</a>
      </div>
  <% end %>
</div>


<% if current_user.try(:admin) %>
    <%= render 'tasks/index/set_task_order' %>
<% else %>
    <div class = "separator"></div>
    <%= render 'tasks/index/list_of_available_tasks' %>
    <div class = "separator"></div>
    <%= render 'tasks/index/list_of_completed_tasks' %>
<% end %>
<%= button_to '+ Luo uusi toimenpide', new_task_path, :class => 'btn btn-default btn-save btn-new-task', :form_class => "form-new-task", :method => :get if current_user.try(:admin) %>

<% unless current_exercise.has_conclusion? %>
<%= button_to '+ Luo diagnoositoimenpide', new_conclusion_path, :class => 'btn btn-default btn-save btn-new-task', :form_class => "form-new-task", :method => :get if current_user.try(:admin) %>
<% end %>

<script>
    //STUDENT
    //open task button for student
    setNewTabSubmits("#taskTab .form-to-task-student", "#currentTaskTab", function(){
        loadView("/hypotheses", "#hypothesisTab");
    });
    //submits for task that cannot be done
    setAjaxSubmits("#taskTab .form-cannot-task-student", "#taskTab", "get");
    //open completed task
    setNewTabSubmits("#taskTab .form-completed-task", "#currentTaskTab");

    //TEACHER
    //open task button for teacher
    setNewTabSubmits("#taskTab .form-button-to-task", "#currentTaskTab");
    //move task up and down buttons
    setAjaxSubmits("#taskTab form:not(.form-button-to-task, .form-new-task, .form-cannot-task-student, .form-to-task-student, .form-completed-task)", "#taskTab", "post");
    //new task button
    setNewTabSubmits("#taskTab .form-new-task", "#currentTaskTab");
    setRemovables();
    $('[data-toggle="popover"]').popover();
</script>
