<h1>Uusi toimenpide</h1>

<%#= render 'form' %>
<%= form_tag(controller: "tasks", action: "create", method: "post") do %>
	<%= label_tag(:name, 'Nimi') %>
    <br/>
    <%= text_field_tag(:name) %>
    <br/>
    <br/>
    <%= label_tag(:content, 'Tekstikysymyksen vastaus') %>

    <br/>
    <p>T채yt채 vain jos haluat liitt채채 toimenpiteeseen tekstikysymyksen</p>
    <br/>
  	<%= text_field_tag(:content) %>
    <%= hidden_field_tag(:exercise_id, session[:exercise_id])  %>
    <br/>
    <br/>
    <%= submit_tag('Tallenna') %>
  
<% end %>

