<% if current_user_is_admin %>
    <%=link_to 'Muokkaa', edit_task_path(@task)%>
<% end %>

<h1>
  Toimenpide:
  <%= @task.name %>
</h1>


<% @subtasks.each do |subtask| %>
    <% if !subtask.task_text.nil? %>
        <%= render 'task_text', {subtask: subtask} %>
        <%# Tähän tulee elsenä ne muut subtask-tyypit%>
        <%= if !current_user_has_completed_task(@task.id) && !current_user_is_admin
            then render 'continue_button'
            else
            end %>
    <% elsif !subtask.multichoice.nil? %>
        <% if params[:success].nil? %>
            <%= render 'multichoice', {subtask: subtask} %>
        <% else %>

            <%= render 'right_answers', {subtask: subtask} %>

        <% end %>


    <% end %>
<% end %>



