<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<% if current_user_is_admin %>
  <%=link_to 'Muokkaa', edit_task_path(@task)%>
<% end %>

<h1>Toimenpide: <%= @task.name %></h1>

<% @subtasks.each do |subtask| %>
  <% if current_user.can_complete_subtask?(@task, subtask) || current_user_is_admin %>
    <%= render 'tasks/subtasks/' + subtask.template, { subtask:subtask } %>
  <% end %>
<% end %>

<% if current_user.has_completed?(@task) %>
  <%= render 'task_completed' %>
<% end %>

<script>
  
  setAjaxSubmits("#currentTaskTab form:not(.form-task-completed)", "#currentTaskTab", "post", function(){
    loadView("/tasks", "#taskTab");
  });

  setGoToTab("#form-open-hypotheses-tab", "#hypothesisTab");
  setGoToTab("#form-open-tasks-tab", "#taskTab");
</script>