<h1>Muokkaa monivalintakysymyst채</h1>

<div class = "panel panel-default panel-grey">
  <div class = "panel-heading panel-heading-grey">
    Monivalintakysymyksen perustiedot
  </div>
  <div class = "panel-body">
    <%= render 'form' %>
  </div>
</div>

<h1>Vastausvaihtoehdot</h1>

<% @multichoice.options.each do |option| %>
<div class = "panel panel-default panel-grey">
<div class="row panel-body">
  <div class = "nakki">
    <%= form_for(option) do |f| %>
      <div class="col-md-1">
        <%= f.check_box :value %>
      </div>
      <div class="col-md-5">
        <%= f.text_area :content, placeholder: "Vaihtoehto", :class => 'form-control' %>

      </div>
      <div class="col-md-5">
        <%= f.text_area :explanation, placeholder: "Vastausteksti", :class => 'form-control' %>
      </div>
      <div class="col-md-1">
        <%= f.submit :class => 'btn btn-default btn-save' %>
        
      </div>
  
      <%= f.hidden_field :option_id, :value => option.id %>
      <%= f.hidden_field :multichoice_id, :value => @multichoice.id%>
      
    <% end %>
    
    <%# Bootsrapin layoutti tekee temppuja, kun rivin leveys yli 12: viimeiset kaksi oudosti p채채llekk채in %>
    <div class="col-md-1">
      <%= button_to 'Poista', option, method: :delete, :class => 'btn btn-default btn-del' %>
    </div>

  </div>
</div>
</div>

<% end %>



<div class = "panel panel-default panel-green">
<div class="row panel-body">
  <div class = "nakki">
    <%= form_for(@new_option) do |f| %>
      <div class="col-md-1">
        <%= f.check_box :value, :value => true %>
      </div>
      <div class="col-md-5">
        <%= f.text_area :content, placeholder: "Vaihtoehto", :class => 'form-control' %>
      </div>
      <div class="col-md-5">
        <%= f.text_area :explanation, placeholder: "Vastausteksti", :class => 'form-control' %>
      </div>
      <div class="col-md-1">
        <%= f.submit 'Tallenna', :class => 'btn btn-default btn-save' %>
      </div>
  

      <%= f.hidden_field :multichoice_id, :value => @multichoice.id %>
      
    <% end %>

  </div>
</div>
</div>