<h1>Salasanan päivitys</h1>

<%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, :class => 'form-control widthAuto' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, :class => 'form-control widthAuto' %>
    </div>
    <div class="actions">
      <%= f.submit 'Päivitä salasana', :class => 'btn btn-default btn-save widthAuto' %>
    </div>
<% end %>
