<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('activerecord.errors.template.header')%></h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, :class => 'form-control widthAuto'%>
    </div>

    <% if @user.new_record? %>
        <div class="field">
          <%= f.label :password %><br>
          <%= f.password_field :password, :class => 'form-control widthAuto' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation, :class => 'form-control widthAuto' %>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :realname %><br>
      <%= f.text_field :realname, :class => 'form-control widthAuto' %>
    </div>
    <div class="field">
      <%= f.label :student_number %><br>
      <%= f.text_field :student_number, :class => 'form-control widthAuto' %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email, :class => 'form-control widthAuto' %>
    </div>
    <div class="field">
      <%= f.label :starting_year %><br>
      <%= f.select :starting_year, (2000..Time.now.year).to_a.reverse, :starting_year => "Select year" %>
    </div>
    <div class="actions">
      <%= f.submit :class => 'btn btn-default btn-save widthAuto' %>
    </div>
<% end %>
