<%= render 'messages/messages' %>

<h1>Opiskelijoiden tiedot</h1>


<%= form_tag(users_path, method: :get) do %>
<%= select_tag 'exercise', options_for_select([["Kaikki", 0]] + @exercises.collect{ |e| [e.name, e.id] }, @selected_exercise_id), :onchange => "this.form.submit();", :class => 'form-control widthAuto' %>
<% end %>

<br />

<% @shown_exercises.each do |exercise| %>
  <div class = "row">
    <div class = "col-md-12">
      <h3><%= exercise.name %></h3>
    </div>
    <div class = "col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">
          <table class = "width100">
              <thead>
              <tr>
                <th class = "user">Nimi</th>
                <th class = "user">Suoritettu</th>
              </tr>
              </thead>
              <tbody>
              <% exercise.get_users.each do |user| %>
                  <tr>
                    <td class = "user"><%= link_to user.realname, user %></td>
                    <td class = "user"><%= user.get_percent_of_completed_tasks_of_exercise(exercise) %></td>

                    <%# model.options.references( :model_options ).where( model_options: { active: true }) %>
                  </tr>
              <% end %>
              </tbody>
            </table>
        </div>
      </div>

    </div>
  </div>
<% end %>