<%= render 'messages/messages' %>

<% if @current_user.try(:admin) %>

    <h1>Opiskelijoiden tiedot</h1>

    <%= form_tag(users_path, method: :get) do %>
        <%= label_tag 'list_type', 'N채yt채: ' %>
        <%= select_tag 'list_type', options_for_select([["Opiskelijoiden eteneminen", 0], ["Opiskelijalista", 1]], @list_type), :onchange => "this.form.submit();", :class => 'form-control widthAuto' %>
    <% end %>

    <% if @list_type == 0 %>
        <%= render 'student_progress_list' %>
    <% else %>
        <%= render 'all_students_list' %>
    <% end %>

<% end %>

<%= button_to 'P채채sivulle', exercises_path, :class => 'btn btn-default btn-exercise widthAuto', :method => :get %>