<%= render 'messages/messages' %>

<h1>Opiskelijoiden tiedot</h1>


<%= form_tag(users_path, method: :get) do %>
<%= select_tag 'exercise', options_for_select(@exercises.collect{ |e| [e.name, e.id] }, @shown_exercises.first.id), :onchange => "this.form.submit();" %>
<% end %>

<% @shown_exercises.each do |exercise| %>
  <div class = "row">
    <div class = "col-md-12">
      <h3><%= exercise.name %></h3>
    </div>
    <div class = "col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">
          <table>
              <thead>
              <tr>
                <th>Käyttäjä</th>
                <th colspan="3"></th>
              </tr>
              </thead>

              <%
                tasks_of_ex = exercise.tasks
                users_of_ex = Array.new()

                exercise.tasks.each do |task|
                  users_of_ex += task.users
                end

                users_of_ex = users_of_ex.uniq
              %>

              <tbody>
              <% users_of_ex.each do |user| %>
                  <tr>
                    <td><%= link_to user.realname, user %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        </div>
      </div>

    </div>
  </div>
<% end %>