<%= render 'messages/messages' %>

<% if !current_user_is_admin %>
    <h1><%= @user.realname %> </h1>

    <strong>Käyttäjänimi:</strong><%= @user.username %><br/>
    <strong>Opiskelijanumero:</strong><%= @user.student_number %><br/>
    <strong>Sähköposti:</strong><%= @user.email %><br/>
    <strong>Aloitusvuosi:</strong><%= @user.starting_year %><br/><br/><br/>

    <%= link_to 'Muokkaa', edit_user_path(@user) %> <br/><br/><br/>

    <h4>Suoritetut caset:</h4>

    <% if !@exercises.nil? %>

        <% @exercises.each do |exercise| %>
            <div class = "row">
              <div class = "col-md-12">
                <strong><%= exercise.name %></strong>
              </div>
              <div class = "col-md-12">

                <div class="panel panel-default">
                  <div class="panel-body">
                    <table class = "width100">
                      <colgroup>
                        <col style="width:50%" />
                        <col style="width:50%" />
                      </colgroup>
                      <thead>
                      <tr>
                        <th class = "user">Suoritettu</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td class = "user">
                          <div class ="progressbar <%= 'completed' if user.get_percent_of_completed_tasks_of_exercise(exercise) == 100 %>" >
                            <% if user.get_percent_of_completed_tasks_of_exercise(exercise) < 100 %>
                                <div class = "progressbar progress" style = "width: <%= 100 - user.get_percent_of_completed_tasks_of_exercise(exercise) %>%;"></div>
                            <% end %>
                          </div>
                          <span class = "progress-percent"><%= user.get_percent_of_completed_tasks_of_exercise(exercise) %>%</span>
                        </td>
                      </tr>
        <% end %>
        </tbody>
        </table>
        </div>
        </div>

        </div>
        </div>
    <% end %>
<% end %>


