<p id="notice"><%= notice %></p>

<p>
  <strong>Hypothesis:</strong>
  <%= @hypothesis_list.hypothesis_id %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @hypothesis_list.exercise_id %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @hypothesis_list.explanation %>
</p>

<%= link_to 'Edit', edit_hypothesis_list_path(@hypothesis_list) %> |
<%= link_to 'Back', hypothesis_lists_path %>
