<%= render 'messages/messages' %>

<h1>Listing Log Entries</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Controller</th>
      <th>Action</th>
      <th>Params</th>
      <th>Exercise</th>
      <th>Task</th>
      <th>Exhyp ids</th>
      <th>Datetime</th>
      <th>Request path</th>
      <th>Ip</th>
      <th>Method</th>
      <th>Response path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log_entries.each do |log_entry| %>
      <tr>
        <td><%= log_entry.user_id %></td>
        <td><%= log_entry.controller %></td>
        <td><%= log_entry.action %></td>
        <td><%= log_entry.params %></td>
        <td><%= log_entry.exercise_id %></td>
        <td><%= log_entry.task_id %></td>
        <td><%= log_entry.exhyp_ids %></td>
        <td><%= log_entry.datetime %></td>
        <td><%= log_entry.request_path %></td>
        <td><%= log_entry.ip %></td>
        <td><%= log_entry.method %></td>
        <td><%= log_entry.response_path %></td>
        <td><%= link_to 'Show', log_entry %></td>
        <td><%= link_to 'Edit', edit_log_entry_path(log_entry) %></td>
        <td><%= link_to 'Destroy', log_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

