<%= render 'messages/messages' %>
<br />
<div class = "row">
  <div class = "col-md-8">
    <h1>Case: <%= @exercise.name %></h1>
  </div>
  <% if current_user.try(:admin) %>
      <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Muokkaa-napista pääset muokkaamaan casen nimeä ja anamneesia, sekä casen näkyvyyttä opiskelijalle.">Ohje</a>
      </div>
  <% else %>
      <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Voit siirtyä suorittamaan toimenpiteitä tai tarkastelemaan diffejä yläreunan valikosta.">Ohje</a>
      </div>
  <% end %>
</div>

<div class = "separator"></div>

<br/>

<%# Case completed %>
<% if current_user.has_completed? @exercise %>
    <%= render 'user_has_completed_exercise' %>
    <br />
    <div class = "separator"></div>
    <br />
<% end %>


<% if @exercise.hidden? %>
    <p>Tämä case on piilotettu opiskelijoilta. Muokkaa casea tehdäksesi siitä näkyvä.</p>
    <br />
    <div class = "separator"></div>
    <br />
<% end %>



<h3>Anamneesi</h3>

<br/>
<br/>

<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div id="anamnesis">
    <div class="panel-body">
      <% if @exercise.anamnesis.nil? || @exercise.anamnesis == "" %>
          Casen anamneesia ei ole asetettu. Muokkaa casea lisätäksesi siihen anamneesin.
      <% else %>
          <%= @exercise.anamnesis.html_safe %>
      <% end %>
    </div>
  </div>
</div>

<br />
<div class = "separator"></div>
<br />

<h3>Tehdyt toimenpiteet</h3>

<br/>
<br/>

<% unless @completed_tasks.empty? %>

    <% @completed_tasks.each_with_index do |task, index| %>


        <div class = "row">
          <div class = "col-md-12">

            <button class="btn btn-default btn-completed-task" data-toggle="collapse" id="collapse-completed-task-link<%= task.id.to_s %>" href="#collapse-completed-task<%= task.id.to_s %>" >
              <%= (index + 1).to_s + ". " + task.name %>
            </button>

            <div class="panel panel-default panel-grey">
              <div id="collapse-completed-task<%= task.id.to_s %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <% task.subtasks.each do |subtask| %>
                      <% if current_user.can_complete_subtask?(task, subtask) || current_user.try(:admin) %>
                          <%= render 'tasks/subtasks/' + subtask.template, { subtask:subtask, parent_view: 'exercise_show' } %>
                      <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

    <% end %>
<% end %>


<br />


<%= button_to 'Muokkaa', edit_exercise_path(@exercise), :method => "get", :class => "btn btn-default btn-save widthAuto", :form_class => 'edit-exercise-page-form' if current_user.try(:admin) %>

<script>
    setAjaxSubmits("#anamnesisTab form:not(.edit-exercise-page-form)", "#anamnesisTab", "post", function(){
        <% if !current_task.nil? && current_user.has_completed?(current_task)%>
        loadView("/tasks/" + <%= current_task.id.to_s %> , "#currentTaskTab");
        <% end %>
    });
    //edit exercise form
    setAjaxSubmits("#anamnesisTab .edit-exercise-page-form", "#anamnesisTab", "get");
    $('[data-toggle="popover"]').popover();
</script>
