<%= render 'messages/messages' %>
<br />
<div class = "row">
  <div class = "col-md-8">
    <h1>Case: <%= @exercise.name %></h1>
  </div>
  <% if current_user.try(:admin) %>
      <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Open ohje">Ohje</a>
      </div>
  <% else %>
      <div class = "col-md-4">
        <a tabindex="0" class="btn btn-help floatRight" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Ohje" data-content="Voit siirtyä suorittamaan toimenpiteitä tai tarkastelemaan työhypoteeseja yläreunan valikosta.">Ohje</a>
      </div>
  <% end %>
</div>

<!--<h1> Case: <%= @exercise.name %> </h1>-->

<%# Case completed %>
<% if current_user.has_completed? @exercise %>
  <%= render 'user_has_completed_exercise' %>
<% end %>

<%= image_tag @exercise.image.picture.url(:original) unless @exercise.image.nil? %>

<% if @exercise.hidden? %>
    <p>Tämä case on piilotettu opiskelijoilta. <%= link_to 'Muokkaa', edit_exercise_path(@exercise) %> casea tehdäksesi siitä näkyvä.</p>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" href="#collapse0">
      Anamneesi
    </a>
  </div>
  <div id="collapse0" class="panel-collapse collapse in">
    <div class="panel-body">
      <% if @exercise.anamnesis.nil? || @exercise.anamnesis == "" %>
          <%= link_to 'Casen anamneesia ei ole asetettu.', edit_exercise_path(@exercise) %>
      <% else %>
          <%= @exercise.anamnesis.html_safe %>
      <% end %>
    </div>
  </div>
</div>


<%= button_to 'Muokkaa', edit_exercise_path(@exercise), :method => :get, :class => "btn btn-default btn-save widthAuto" if current_user.try(:admin) %> <!-- |
<%= link_to 'Takaisin', exercises_path %> -->

<script>
    //edit exercise form
    setAjaxSubmits("#anamnesisTab form", "#anamnesisTab", "get");
    $('[data-toggle="popover"]').popover();
</script>
