<div class="col-md-4">
  <input id="checked_hypothesis_<%= exercise_hypothesis.id.to_s %>"
         class="btn btn-default <%= (@correct_diagnosis && @correct_diagnosis.hypothesis.id == exercise_hypothesis.hypothesis.id) ? "btn-save" : "btn-checked" %> multiline"
         type="button"
         value="<%= exercise_hypothesis.hypothesis.name %>"
         onclick='showExHypExplanation("#exhyp_explanation_<%= exercise_hypothesis.id.to_s %>");'></input>
</div>


<div class = "col-md-6">
  <div class="info-checked-hypothesis removable"
       id="exhyp_explanation_<%= exercise_hypothesis.id.to_s %>"
       style=<%= @last_clicked_hypothesis_id == exercise_hypothesis.id.to_s ? "" : "display:none;"%>>
    <%= (@correct_diagnosis && @correct_diagnosis.hypothesis.id == exercise_hypothesis.hypothesis.id) ? exercise_hypothesis.get_right_explanation.html_safe : exercise_hypothesis.get_explanation.html_safe %>
  </div>
</div>

