<div class="col-md-4">
  <%= form_for(@new_checked_hypothesis) do |f| %>
      <%= f.hidden_field :exercise_hypothesis_id, :value => exercise_hypothesis.id %>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
      <%= f.submit exercise_hypothesis.hypothesis.name, :class => 'btn btn-default multiline' %>
  <% end %>
</div>
<% if @last_clicked_hypothesis_id == exercise_hypothesis.id.to_s %>
    <div class = "col-md-6">
      <div class="alert-unchecked-hypothesis removable"><%= alert %></div>
    </div>
<% end %>