<%= form_for(@exercise_hypothesis) do |f| %>
  <% if @exercise_hypothesis.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header')%></h2>

      <ul>
      <% @exercise_hypothesis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exercise_id %><br>
    <%= f.number_field :exercise_id %>
  </div>
  <div class="field">
    <%= f.label :hypothesis_id %><br>
    <%= f.number_field :hypothesis_id %>
  </div>
  <div class="field">
    <%= f.label :explanation %><br>
    <%= f.text_field :explanation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
