<%= render 'messages/messages' %>

<h1>Listing Exercise Hypotheses</h1>

<table>
  <thead>
  <tr>
    <th>Exercise</th>
    <th>Hypothesis</th>
    <th>Explanation</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @exercise_hypotheses.each do |exercise_hypothesis| %>
      <tr>
        <td><%= exercise_hypothesis.exercise_id %></td>
        <td><%= exercise_hypothesis.hypothesis_id %></td>
        <td><%= exercise_hypothesis.explanation %></td>
        <td><%= link_to 'Show', exercise_hypothesis %></td>
        <td><%= link_to 'Edit', edit_exercise_hypothesis_path(exercise_hypothesis) %></td>
        <td><%= link_to 'Destroy', exercise_hypothesis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise hypothesis', new_exercise_hypothesis_path %>
