<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	<% unless current_page?(root_path) or current_page?( new_exercise_path) %>
          <%= render 'layouts/navigation_links' %>
	<% end %>
      </ul>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% unless current_page?(root_path) %>
        <%= link_to 'Palaa pääsivulle', root_path, class: 'navbar-brand' %>
      <% end %>
      <% if current_user.nil? %>
        <%= form_tag sessions_path do %> 
          <%= text_field_tag :username, params[:username], placeholder: 'Käyttäjätunnus' %>
          <%= password_field_tag :password, params[:password], placeholder: 'Salasana' %>  
          <%= submit_tag "Kirjaudu sisään" %>
        <% end %>
        <%= button_to 'Luo uusi tunnus', new_user_path, :class => 'btn btn-default btn-signup', :method => :get %>
      <% else %>
        <%= button_to 'Kirjaudu ulos', 'signout', :class => 'btn btn-default btn-logout', :method => :delete unless current_user.nil?%>
      <% end %>
    </div>
  </div>
</nav>
