<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Taudinpurkauspeli" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Taudinpurkauspeli" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div role="tabpanel">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <main role="main">
        <div class="tab-content">
          <%= render 'layouts/messages' %>
          <div role="tabpanel" class="tab-pane active" id="anamnesisTab">
            <%= yield %>
          </div>
          <div role="tabpanel" class="tab-pane" id="taskTab"></div>
          <div role="tabpanel" class="tab-pane" id="hypothesisTab"></div>
          <div role="tabpanel" class="tab-pane" id="currentTask"></div>
        </div>
          <% if !current_user.nil? && !current_exercise.nil? %>
            <%= render 'layouts/tab_contents' %>
          <% end %>
      </main>
    </div>
  </body>
</html>
